endpoints/citrus-spring-integration/src/main/resources/org/citrusframework/schema/citrus-spring-integration-testcase-4.10.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/spring-integration/testcase"
           targetNamespace="http://www.citrusframework.org/schema/spring-integration/testcase"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="description" type="xs:string"/>

  <xs:element name="purge-channel" type="PurgeChannelActionType"/>

  <xs:complexType name="PurgeChannelActionType">
    <xs:sequence>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element name="channel" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="ref" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="message-selector" type="xs:string"/>
  </xs:complexType>

</xs:schema>
