validation/citrus-validation-xml/src/test/resources/org/citrusframework/citrus/validation/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns="http://citrusframework.org/sample"
     targetNamespace="http://citrusframework.org/sample"
     elementFormDefault="qualified"
     attributeFormDefault="unqualified">
     
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="correlationId" type="xs:string"/>
                <xs:element name="bookingId" type="xs:string"/>
                <xs:element name="test" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
