connectors/citrus-selenium/src/main/resources/org/citrusframework/schema/citrus-selenium-config-4.8.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/selenium/config"
           targetNamespace="http://www.citrusframework.org/schema/selenium/config"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="browser">
    <xs:annotation>
      <xs:documentation>Selenium browser configuration.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="custom"/>
            <xs:enumeration value="htmlunit"/>
            <xs:enumeration value="firefox"/>
            <xs:enumeration value="safari"/>
            <xs:enumeration value="chrome"/>
            <xs:enumeration value="googlechrome"/>
            <xs:enumeration value="internet explorer"/>
            <xs:enumeration value="edge"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="start-page" type="xs:string"/>
      <xs:attribute name="event-listeners" type="xs:string"/>
      <xs:attribute name="remote-server" type="xs:string"/>
      <xs:attribute name="javascript" type="xs:boolean"/>
      <xs:attribute name="version" type="xs:string"/>
      <xs:attribute name="web-driver" type="xs:string"/>
      <xs:attribute name="firefox-profile" type="xs:string"/>
      <xs:attribute name="timeout" type="xs:string"/>
    </xs:complexType>
  </xs:element>

</xs:schema>
