connectors/citrus-selenium/src/main/resources/org/citrusframework/schema/citrus-selenium-testcase-5.0.0-SNAPSHOT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/selenium/testcase"
           targetNamespace="http://www.citrusframework.org/schema/selenium/testcase"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="description" type="xs:string"/>

  <xs:complexType name="BrowserActionType">
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="browser" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="ElementActionType">
    <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:sequence>
            <xs:element name="element" type="ElementType"/>
          </xs:sequence>
        </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ElementType">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="tag-name" type="xs:string"/>
    <xs:attribute name="class-name" type="xs:string"/>
    <xs:attribute name="css-selector" type="xs:string"/>
    <xs:attribute name="link-text" type="xs:string"/>
    <xs:attribute name="xpath" type="xs:string"/>
  </xs:complexType>

  <xs:element name="start" type="BrowserActionType"/>
  <xs:element name="stop" type="BrowserActionType"/>
  <xs:element name="clear-cache" type="BrowserActionType"/>

  <xs:element name="find">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:sequence>
            <xs:element name="element">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension base="ElementType">
                    <xs:sequence>
                      <xs:element name="attributes" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="attribute" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="value" type="xs:string" use="required"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="styles" minOccurs="0">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="style" minOccurs="1" maxOccurs="unbounded">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="value" type="xs:string" use="required"/>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="text" type="xs:string"/>
                    <xs:attribute name="displayed" type="xs:boolean"/>
                    <xs:attribute name="enabled" type="xs:boolean"/>
                  </xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="page">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:sequence>
            <xs:element name="arguments" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="argument" type="xs:string" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="name" type="xs:string"/>
          <xs:attribute name="type" type="xs:string"/>
          <xs:attribute name="validator" type="xs:string"/>
          <xs:attribute name="action" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="click" type="ElementActionType"/>
  <xs:element name="hover" type="ElementActionType"/>

  <xs:element name="set-input">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ElementActionType">
          <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="check-input">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ElementActionType">
          <xs:attribute name="checked" type="xs:boolean" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="dropdown-select">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ElementActionType">
          <xs:sequence>
            <xs:element name="options" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="option" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="option" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="wait">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="ElementActionType">
          <xs:attribute name="until" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="javascript">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:sequence>
            <xs:element name="script"/>
            <xs:element name="errors" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="error" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="screenshot">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="output-dir" type="xs:string"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="navigate">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="page" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="open-window">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="close-window">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="switch-window">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="name" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="store-file">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="file-path" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="get-stored-file">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:attribute name="file-name" type="xs:string" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="alert">
    <xs:annotation>
      <xs:documentation>Access current alert dialog and perform action (accept, dismiss)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="BrowserActionType">
          <xs:sequence>
            <xs:element name="alert-text" type="xs:string" minOccurs="0"/>
          </xs:sequence>
          <xs:attribute name="text" type="xs:string"/>
          <xs:attribute name="accept" type="xs:boolean" use="required"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
