modules/citrus-model/model-kubernetes/src/main/resources/com/consol/citrus/schema/citrus-kubernetes-testcase-2.7.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2006-2016 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/kubernetes/testcase"
           targetNamespace="http://www.citrusframework.org/schema/kubernetes/testcase"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="description" type="xs:string"/>

  <xs:element name="info">
    <xs:annotation>
      <xs:documentation>Executes info command on kubernetes and print result to console</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="create-pod">
    <xs:annotation>
      <xs:documentation>Creates new kubernetes pod</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="template" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="spec" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="container" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ports" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="protocol" type="xs:string" default="TCP"/>
                        <xs:attribute name="port" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="image" type="xs:string" use="required"/>
                  <xs:attribute name="pull-policy" type="xs:string"/>
                  <xs:attribute name="name" type="xs:string"/>
                  <xs:attribute name="command" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="restart-policy" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="get-pod">
    <xs:annotation>
      <xs:documentation>Gets kubernetes pod from server</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete-pod">
    <xs:annotation>
      <xs:documentation>Deletes kubernetes pod from server</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-pods">
    <xs:annotation>
      <xs:documentation>List kubernetes pods</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="watch-pods">
    <xs:annotation>
      <xs:documentation>Watch kubernetes pods</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="create-service">
    <xs:annotation>
      <xs:documentation>Creates new kubernetes service</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="template" minOccurs="0">
          <xs:complexType>
            <xs:attribute name="file" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="spec" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="selector">
                <xs:complexType>
                  <xs:attribute name="label" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="ports" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="protocol" type="xs:string" default="TCP"/>
                  <xs:attribute name="port" type="xs:string" use="required"/>
                  <xs:attribute name="target-port" type="xs:string"/>
                  <xs:attribute name="node-port" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="get-service">
    <xs:annotation>
      <xs:documentation>Gets kubernetes service from server</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete-service">
    <xs:annotation>
      <xs:documentation>Deletes kubernetes service from server</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-services">
    <xs:annotation>
      <xs:documentation>List kubernetes service</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="watch-services">
    <xs:annotation>
      <xs:documentation>Watch kubernetes service</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-replication-controllers">
    <xs:annotation>
      <xs:documentation>List kubernetes replication controller</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="watch-replication-controllers">
    <xs:annotation>
      <xs:documentation>Watch kubernetes replication controller</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-endpoints">
    <xs:annotation>
      <xs:documentation>List kubernetes endpoints</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="namespace" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-nodes">
    <xs:annotation>
      <xs:documentation>List kubernetes nodes</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="watch-nodes">
    <xs:annotation>
      <xs:documentation>Watch kubernetes nodes</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-namespaces">
    <xs:annotation>
      <xs:documentation>List kubernetes namespaces</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="watch-namespaces">
    <xs:annotation>
      <xs:documentation>Watch kubernetes namespaces</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-events">
    <xs:annotation>
      <xs:documentation>List kubernetes events</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="description" minOccurs="0"/>
        <xs:element name="validate" type="ValidateCommandResultType" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="client" type="xs:string"/>
      <xs:attribute name="label" type="xs:string"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ValidateCommandResultType">
    <xs:annotation>
      <xs:documentation>Expects and validates a command result</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="result" minOccurs="0"  type="xs:string"/>
      <xs:element name="element" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="path" type="xs:string" use="required"/>
          <xs:attribute name="value" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>