endpoints/citrus-rmi/src/main/resources/org/citrusframework/schema/citrus-rmi-message-5.0.0-M2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/rmi/message"
           targetNamespace="http://www.citrusframework.org/schema/rmi/message"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="service-invocation">
      <xs:annotation>
        <xs:documentation>RMI service invocation with called method and method arguments.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
          <xs:element name="remote" type="xs:string" minOccurs="0"/>
          <xs:element name="method" type="xs:string"/>
          <xs:element name="args" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name ="arg" type="MethodArg" minOccurs="1" maxOccurs="unbounded"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="service-result">
      <xs:annotation>
        <xs:documentation>RMI service result object used as return type.</xs:documentation>
      </xs:annotation>
      <xs:complexType>
        <xs:sequence>
            <xs:element name="exception" type="xs:string" minOccurs="0"/>
            <xs:element name="object" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="type" type="xs:string"/>
                <xs:attribute name="value" type="xs:string"/>
                <xs:attribute name="ref" type="xs:string"/>
              </xs:complexType>
            </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:complexType name="MethodArg">
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="ref" type="xs:string"/>
    </xs:complexType>
</xs:schema>
