endpoints/citrus-ftp/src/main/resources/org/citrusframework/schema/citrus-ftp-message.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2006-2018 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/ftp/message"
           targetNamespace="http://www.citrusframework.org/schema/ftp/message"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">


  <xs:complexType name="commandType">
    <xs:annotation>
      <xs:documentation>Ftp command called on server.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="signal" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="OPEN"/>
            <xs:enumeration value="ABOR"/>
            <xs:enumeration value="ACCT"/>
            <xs:enumeration value="ALLO"/>
            <xs:enumeration value="APPE"/>
            <xs:enumeration value="CDUP"/>
            <xs:enumeration value="CWD"/>
            <xs:enumeration value="DELE"/>
            <xs:enumeration value="EPRT"/>
            <xs:enumeration value="EPSV"/>
            <xs:enumeration value="FEAT"/>
            <xs:enumeration value="HELP"/>
            <xs:enumeration value="LIST"/>
            <xs:enumeration value="MDTM"/>
            <xs:enumeration value="MFMT"/>
            <xs:enumeration value="MKD"/>
            <xs:enumeration value="MLSD"/>
            <xs:enumeration value="MLST"/>
            <xs:enumeration value="MODE"/>
            <xs:enumeration value="NLST"/>
            <xs:enumeration value="NOOP"/>
            <xs:enumeration value="PASS"/>
            <xs:enumeration value="PASV"/>
            <xs:enumeration value="PORT"/>
            <xs:enumeration value="PWD"/>
            <xs:enumeration value="QUIT"/>
            <xs:enumeration value="REIN"/>
            <xs:enumeration value="REST"/>
            <xs:enumeration value="RETR"/>
            <xs:enumeration value="RMD"/>
            <xs:enumeration value="RNFR"/>
            <xs:enumeration value="RNTO"/>
            <xs:enumeration value="SITE"/>
            <xs:enumeration value="SMNT"/>
            <xs:enumeration value="STAT"/>
            <xs:enumeration value="STOR"/>
            <xs:enumeration value="STOU"/>
            <xs:enumeration value="STRU"/>
            <xs:enumeration value="SYST"/>
            <xs:enumeration value="TYPE"/>
            <xs:enumeration value="USER"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="arguments" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commandResultType">
    <xs:annotation>
      <xs:documentation>Ftp command result from server.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="exception" type="xs:string" minOccurs="0"/>
      <xs:element name="reply-code" type="xs:string" minOccurs="0"/>
      <xs:element name="reply-string" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="put-command">
    <xs:annotation>
      <xs:documentation>Ftp put file command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType">
          <xs:sequence>
            <xs:element name="file">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
                <xs:attribute name="type" default="BINARY">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="ASCII"/>
                      <xs:enumeration value="BINARY"/>
                      <xs:enumeration value="EBCDIC"/>
                      <xs:enumeration value="LOCAL"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="target" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="get-command">
    <xs:annotation>
      <xs:documentation>Ftp get file command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType">
          <xs:sequence>
            <xs:element name="file">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
                <xs:attribute name="type" default="BINARY">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="ASCII"/>
                      <xs:enumeration value="BINARY"/>
                      <xs:enumeration value="EBCDIC"/>
                      <xs:enumeration value="LOCAL"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="target" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete-command">
    <xs:annotation>
      <xs:documentation>Ftp delete file command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType">
          <xs:sequence>
            <xs:element name="target">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="recursive" type="xs:boolean" default="true"/>
          <xs:attribute name="include-current" type="xs:boolean" default="false"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-command">
    <xs:annotation>
      <xs:documentation>Ftp list files and directories command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType">
          <xs:sequence>
            <xs:element name="target">
              <xs:complexType>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="connect-command">
    <xs:annotation>
      <xs:documentation>Ftp connect command.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType">
          <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="command">
    <xs:annotation>
      <xs:documentation>Ftp command called on server.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="command-result">
    <xs:annotation>
      <xs:documentation>Ftp command result used as return type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandResultType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="put-command-result">
    <xs:annotation>
      <xs:documentation>Ftp put command result used as return type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandResultType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="delete-command-result">
    <xs:annotation>
      <xs:documentation>Ftp delete command result used as return type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandResultType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="get-command-result">
    <xs:annotation>
      <xs:documentation>Ftp get command result used as return type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandResultType">
          <xs:sequence>
            <xs:element name="file">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="data" type="xs:string" minOccurs="0"/>
                </xs:sequence>
                <xs:attribute name="path" type="xs:string" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="list-command-result">
    <xs:annotation>
      <xs:documentation>Ftp list command result used as return type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="commandResultType">
          <xs:sequence>
            <xs:element name="files">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="file" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="path" type="xs:string" use="required"/>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

</xs:schema>
