endpoints/citrus-ftp/src/main/resources/org/citrusframework/schema/citrus-scp-config-5.0.0-M1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.citrusframework.org/schema/scp/config"
           targetNamespace="http://www.citrusframework.org/schema/scp/config"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <xs:element name="client">
    <xs:annotation>
      <xs:documentation>Sftp client component sends commands to server instance and receives reply messages.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="id" type="xs:ID" use="required"/>
      <xs:attribute name="host" type="xs:string"/>
      <xs:attribute name="port" type="xs:string"/>
      <xs:attribute name="port-option" type="xs:string"/>
      <xs:attribute name="username" type="xs:string"/>
      <xs:attribute name="password" type="xs:string"/>
      <xs:attribute name="private-key-path" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Path to a private key, which can be either a plain file path or an class resource if prefixed with 'classpath:'
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="private-key-password" type="xs:string">
        <xs:annotation>
          <xs:documentation>
            Optional password for the private key
          </xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="message-correlator" type="xs:string"/>
      <xs:attribute name="actor" type="xs:string"/>
      <xs:attribute name="timeout" type="xs:string"/>
      <xs:attribute name="polling-interval" type="xs:string"/>
      <xs:attribute name="error-strategy">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="throwsException"/>
            <xs:enumeration value="propagateError"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
