modules/citrus-core/src/main/resources/com/consol/citrus/schema/consol_ts.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.consol.de/testframework"
	 targetNamespace="http://www.consol.de/testframework"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="testcase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meta-info" minOccurs="0"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element ref="variables" minOccurs="0"/>
				<xs:element ref="actions"/>
				<xs:element ref="cleanup" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="variables">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="variable" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actions">
		<xs:complexType>
			<xs:group ref="action" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="send">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="message">
					<xs:complexType>
						<xs:sequence>
							<xs:choice>
								<xs:element name="data" type="xs:string"/>
								<xs:element name="resource">
									<xs:complexType>
										<xs:attribute name="file" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:choice>
							<xs:element name="element" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="path" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="header" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="element" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="receive">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="selector" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="value" type="xs:string"/>
							<xs:element name="element" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="message">
					<xs:complexType>
						<xs:choice>
							<xs:sequence minOccurs="0">
								<xs:choice>
									<xs:element name="data" type="xs:string"/>
									<xs:element name="resource">
										<xs:complexType>
											<xs:attribute name="file" type="xs:string" use="required"/>
										</xs:complexType>
									</xs:element>
								</xs:choice>
								<xs:element name="element" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="path" type="xs:string" use="required"/>
										<xs:attribute name="value" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="ignore" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="path" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:sequence minOccurs="0">
								<xs:element name="validate" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="path" type="xs:string" use="required"/>
										<xs:attribute name="value" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="namespace" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:attribute name="prefix" type="xs:string" use="required"/>
										<xs:attribute name="value" type="xs:string" use="required"/>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="header" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="element" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="extract" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="header" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required"/>
									<xs:attribute name="variable" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="message" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="path" type="xs:string" use="required"/>
											<xs:attribute name="variable" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="updateDatabase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element name="resource">
						<xs:complexType>
							<xs:attribute name="file" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="statement" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="connect" type="xs:string" use="required"/>
			<xs:attribute name="ignoreErrors" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cleanup">
		<xs:complexType>
			<xs:group ref="action" maxOccurs="unbounded"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="java">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="constructor" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="argument" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="method">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="argument" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="type" type="xs:string"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="class" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sleep">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="time" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:group name="action">
		<xs:choice>
			<xs:element ref="send"/>
			<xs:element ref="receive"/>
			<xs:element ref="updateDatabase"/>
			<xs:element ref="queryDatabase"/>
			<xs:element ref="alterDatabase"/>
			<xs:element ref="java"/>
			<xs:element ref="sleep"/>
			<xs:element ref="traceVariables"/>
			<xs:element ref="createVariables"/>
			<xs:element ref="traceTime"/>
			<xs:element ref="echo"/>
			<xs:element ref="expectTimeout"/>
			<xs:element ref="purgeJmsQueues"/>
			<xs:element ref="action"/>
			<xs:element ref="call-template"/>
			<xs:element ref="input"/>
			<xs:element ref="iterate"/>
			<xs:element ref="load"/>
			<xs:element ref="repeat-until-true"/>
			<xs:element ref="repeat-onerror-until-true"/>
			<xs:element ref="sequential"/>
			<xs:element ref="fail"/>
			<xs:element ref="parallel"/>
			<xs:element ref="catch"/>
			<xs:element ref="assert"/>
			<xs:element ref="groovy"/>
		</xs:choice>
	</xs:group>
	<xs:element name="echo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="message" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="traceVariables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="variable" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="purgeJmsQueues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="queue" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="connect" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="createVariables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="variable" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="traceTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="expectTimeout">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="select" type="xs:string" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="connect" type="xs:string"/>
			<xs:attribute name="wait" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="queryDatabase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element name="resource">
						<xs:complexType>
							<xs:attribute name="file" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="statement" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
				<xs:element name="validate" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="column" type="xs:string" use="required"/>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="connect" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="action">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="reference" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="meta-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="author" type="xs:string"/>
				<xs:element name="creationdate" type="xs:date"/>
				<xs:element name="status" default="DRAFT">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="DRAFT"/>
							<xs:enumeration value="FINAL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="lastUpdatedBy" type="xs:string" minOccurs="0"/>
				<xs:element name="lastUpdatedOn" type="xs:dateTime" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="template">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="call-template">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="parameter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="value" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="iterate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="indexName" type="xs:string"/>
			<xs:attribute name="condition" type="xs:string" use="required"/>
			<xs:attribute name="start" type="xs:string"/>
			<xs:attribute name="step" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeat-until-true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="indexName" type="xs:string"/>
			<xs:attribute name="condition" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="repeat-onerror-until-true">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="indexName" type="xs:string"/>
			<xs:attribute name="condition" type="xs:string" use="required"/>
			<xs:attribute name="autoSleep" type="xs:int"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="sequential">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="message" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="input">
		<xs:complexType>
			<xs:attribute name="message" type="xs:string"/>
			<xs:attribute name="variable" type="xs:string"/>
			<xs:attribute name="validAnswers" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="load">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="properties" minOccurs="0">
					<xs:complexType>
						<xs:attribute name="file" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="parallel">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="catch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="exception" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="assert">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:group ref="action"/>
			</xs:sequence>
			<xs:attribute name="exception" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="alterDatabase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="description" minOccurs="0"/>
				<xs:choice>
					<xs:element name="resource">
						<xs:complexType>
							<xs:attribute name="file" type="xs:string" use="required"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="script" type="xs:string"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="connect" type="xs:string" use="required"/>
			<xs:attribute name="ignoreErrors" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="groovy">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="resource" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>